html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
    height: 100%;
    width: 100%;
  }

.ropa-sans-regular {
    font-family: "Ropa Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.ropa-sans-regular-italic {
    font-family: "Ropa Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
@media screen and (min-width: 1140px) {
    section {
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-grow: 3;
        justify-content: space-between;
        
    }
    section {
        padding: 1rem;
        flex-grow: 1;
        display: flex;
    }
    
    .footer{
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }
}